@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #252525;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
}
